/* 头部导航栏 */
a{text-decoration: none;
    font: 12px Tahoma,Geneva,"Microsoft Yahei";
  }
  #header{
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
      width: 100%;
      height: 30px;
      position: fixed;
      background: #fff; 
      margin: 0 auto;
      padding: 15px 290px;
      z-index: 1;
  }
  #header .header_lan{
      width: 1000px;
      height: 30px;
      position: relative;
      bottom: 33px;left: 150px;
  }
  #header .header_lan li a{
      line-height: 30px;
  }
  /* logo */
  #header a img{
      width: 120px;
      height: 30px;
  }
  #header  li{
      float: left;
      line-height: 30px;
      padding:0 12px;
  }
  #header li a{
      font-size: 15px;
      color: #333;
  }
  /* 搜索框 */
  .header_lan li:nth-child(8) input{
      box-sizing: border-box;
      width: 182px;
      height: 30px;
      background: #F7F7F7;
      border: 0;outline: 0;
      padding: 7px 10px;
      border-radius: 4px 0px 0px 4px;
  }
  /* 搜索按钮 */
  .header_lan li:nth-child(9) input{
      box-sizing: border-box;
      width: 38px;
      height: 30px;
      border: 0;outline: 0;
      border-radius: 0px 4px 4px 0px;
      position: relative;
      right: 24px;top: 2px;
      background:#eee url(../img/douguo/sslogo.png) no-repeat;
      background-position: center center;
      cursor: pointer;
  }
  /* 占位符字体 */
  .header_lan .sou::placeholder{
      color: #999;
  }
  .header_lan .sou:hover{
      background: #eee;
  }
  .header_lan li:nth-child(13){
      margin-left: -20px;
  }
  /* 首页样式 */
  #header .header_lan li:first-child>a{
      color: #FFB31A;
      font-weight: bold;
      border-bottom: 2px solid #FFB31A;
  }
  /* 文字悬停效果 */
  #header .header_lan li>a:hover{
      color: #FFB31A;
  }
  /* 发布样式 */
  #header .header_lan li:nth-child(11)>a{
      display: inline-block;
      width: 60px;
      height: 30px;
      background: #FFB31A;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
      color: #fff;
      margin-left: -30px;
      margin-top: 2px;
  }
  /* 发布样式下拉菜单 */
  .header_lan li .fabu_drop{
      display: none;
      position: absolute;
      left: 615px;
      width: 130px;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(64,71,81,0.2);
      padding: 18px 8px;
      text-align: center;
      z-index: 999;
      border-radius: 8px;
  }
  li:nth-child(11):hover .fabu_drop{
      display: block;
  }
  /* 菜谱下拉菜单 */
  .header_lan li:nth-child(2)>.cai_drop{
      display: none;
      box-shadow: 0 2px 5px 0 rgba(64,71,81,0.10);
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 14px;
      text-align: left;
      width: 492px;
      height: 483px;
      background: #fff;
      position: absolute;
      /* top: 45px; */
      left: -162px;
      z-index: 99;
      padding: 0 16px;
  }
  .header_lan li:nth-child(2):hover .cai_drop{
      display: block;
  }
  /* 下拉菜单第一行 */
  .header_lan li:nth-child(2)> .cai_drop .caipu_1{
      border-bottom: 1px solid #E5E3DF;
      width: 460px;
      height: 55px;
      line-height: 55px;
      margin: auto;
  }
  #header .header_lan .caipu_1 a{
      margin-right: 43px;
  }
  #header .header_lan .caipu_1 a img{
      /* display: inline-block; */
      width: 16px;
      height: 16px;
      position: relative;
      top: 2px;right: 6px;
  }
  /* 下拉菜单two */
  #header .header_lan .caipu_2{
      width: 460px;height: 93px;
      border-bottom: 1px solid #E5E3DF;
      margin: auto;
  }
  .caipu_2>span{
      float: left;
      width: 64px;
      text-align: center;
      font-weight: bold;
      margin-right: 16px;
      line-height: 46px;
      color: #333;
  }
  .caipu_2 a {
      width: 95px;
      display: block;
      line-height: 46px;
      float: left;
      margin-top: 8px;
  }
  /* 下拉菜单文字悬停样式 */
  #header .header_lan .caipu_2 a:hover{
      color: #FFB31A;
  }
  #header .header_lan .caipu_2>a:nth-child(9){
      color: #256DC6;
  }
  #header .header_lan .caipu_2>a:nth-child(9):hover{
      color: #256DC6!important;
  }
  .caipu_3{
      width: 460px;height: 93px;
  }
  #header .header_lan .caipu_3>a{
      display: inline-block;
      margin:10px 177px;
      color: #256DC6;
  }
  #header .header_lan .caipu_3>a:active{
      color: #FFB31A;
  }
  
  
  /* 轮播 */
  .wrap{
      width: 1500px;
      height: 500px;
      /* margin:20px auto; */
      position: relative;
      overflow:hidden;
      margin: auto;
  }
  
  .imgbox{
      width: 6000px;
      height: 500px;
      animation:imgbox 6s linear infinite;
  }
  /*设置鼠标移动到图片上，动画处于暂停状态*/
  .imgbox:hover{
      animation-play-state: paused;
  }
  @keyframes imgbox{
      0%,20%{
          margin-left: 0;
      }
      21%,35%{
          margin-left:-1500px;
      }
      42%,56%{
          margin-left:-3000px;
      }
      63%,77%{
          margin-left:-4500px;
      }
      80%,100%{
          margin-left:0px;
      }
  }
  .wrap .imgbox a>img{
      width: 1500px;
      height: 500px;
      float: left;
  }
  /* 主页内容 */
  .zynr{
      width: 1000px;
      height: 590px;
      margin: 60px auto 0;
  }
  .zynr>h2,.zynr2>h2{
      font-size: 20px;
      color: #333;
      font-weight: bold;
      margin-top: 40px;
      /* line-height: 20px; */
  }
  .zynr>h2>a,.zynr2>h2>a{
      font-size: 13px;
      color: #256DC6;
      float: right;
      height: 20px;
      /* line-height: 20px; */
      /* font-weight: normal; */
  }
  .zynr>ul>li,.zynr2>ul>li{
      width: 220px;height: 270px;
      border-radius: 10px;
      /* border: 1px solid red; */
      float: left;
      margin: 25px 35px 0 0;
      overflow: hidden;
  }
  .zynr>ul>li:nth-child(4),.zynr>ul>li:nth-child(8),.zynr2>ul>li:nth-child(4){
      margin-right: 0;
  }
  .zynr>ul>li>a>img,.zynr2>ul>li>a>img{
      width: 220px;height: 220px;
      border-radius: 10px;
      transition: all .5s linear;
      
  }
  .zynr>ul>li>a>img:hover{
      transform: scale(1.05);
  }
  .zynr2>ul>li>a>img:hover{
      transform: scale(1.05);
  }
  .zynr>ul>li>a,.zynr2>ul>li>a{
      display: block;
      width: 220px;
      height: 35px;
      line-height: 35px;
      font-size: 15px;
      color: #333;
  }
  .zynr>ul>li>a:hover{
      color: #FFB31A;
  }
  .zynr2>ul>li>a:hover{
      color: #FFB31A;
  }
  .zynr2{
      width: 1000px;
      height: 270px;
      margin: 40px auto 80px;
  }
  /* 热门食材 left */
  #left{
      width: 1000px;
      height: 276px;
      margin: auto;
      position: relative;
  }
  #left>h2:nth-child(1){
      font-size: 20px;
      color: #333;
      font-weight: bold;
      margin-top: 40px;
  }
  #left>h2:nth-child(1)>a{
      font-size: 13px;
      color: #256DC6;
      float: right;
  }
  #left>ul:nth-child(2){
      width: 690px;
      height: 276px;
      background: #F1F7FA;
      margin-top: 20px;
      padding: 4px 3px 24px;
      float: left;
      box-sizing: border-box;
  }
  #left>ul:nth-child(2)>li{
      margin: 20px 17px 0;
      width: 80px;
      height: 104px;
      float: left;
      text-align: center;
      overflow: hidden;
      font-size: 13px;
  }
  #left>ul:nth-child(2)>li>a>img{
      width: 80px;
      height: 80px;
      margin-bottom: 5px;
  }
  #left>ul:nth-child(2)>li>a{
      color: #333;
  }
  #left>ul:nth-child(2)>li>a:hover{
      color: #FFB31A;
  }
  /* 热门食材 right */
  #left>ul:nth-child(3){
      width: 280px;
      height: 360px;
      /* height: 355px; */
      /* border:1px solid red; */
      overflow: hidden;
      margin-top: 20px;
      box-sizing: border-box;
      float: right;
  }
  #left>ul:nth-child(3)>h2{
      font-size: 20px;
      color: #333;
      font-weight: bold;
      margin-top: 10px;
  }
  #left>ul:nth-child(3)>h2>a{            font-size: 13px;
      color: #256DC6;
      float: right;
  }
  /* 豆果达人 */
  #left>ul:nth-child(3)>li{
      margin-top: 20px;
      height: 46px;
      /* border: 1px solid red; */
  }
  
  #left>ul:nth-child(3)>li>a>img{
      width: 46px;height: 46px;
      border-radius: 5px;
      float: left;
  }
  #left>ul:nth-child(3)>li>.nam{
      margin-left: 6px;
      width: 130px;
      height: 46px;
      /* border: 1px solid #666; */
      float: left;
  }
  #left>ul:nth-child(3)>li>.nam>div>a{
      display: inline-block;
      max-width: 120px;
      font-size: 15px;
      vertical-align: middle;
      color: #333;
  }
  #left>ul:nth-child(3)>li>.nam>p{
      display: block;
      width: 130px;
      height: 16px;
      font-size: 12px;
      color: #999;
      margin-top: 8px;
  }
  #left>ul:nth-child(3)>li>a:last-child{
      float: right;
      color: #333;
      border: 1px solid #333;
      width: 73px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      margin-top: 8px;
      border-radius: 4px;
  }
  /* 精彩主题文章放入了上一个div */
  .title{
      width: 690px;height: 20px;
      position: absolute;
      top: 340px;
      float: left;
      font-size: 20px;
      color: #333;
      font-weight: bold;
      margin-top: 40px;
      line-height: 20px;
  }
  .title>a{
      font-size: 13px;
      color: #256DC6;
      float: right;
      height: 20px;
      line-height: 20px;
      font-weight: normal;
  }
  /* 精彩主题文章 */
  .article{
      width: 1000px;
      height: 280px;
      /* border: 1px solid red; */
      margin:140px auto 0;
  }
  .article>ul>.tu_zi{
      width: 890px;
      height: 122px;
      /* border: 1px solid red; */
      margin: 20px 0 30px;
  }
  .article>ul>.tu_zi>a{
      float: left;
      background: url(../img/douguo/mswz.jpg) no-repeat;
      background-size: 100%;
      width: 200px;
      height: 112px;
      float: left;
      overflow: hidden;
      border-radius: 10px;
      
  }
  .article>ul>.tu_zi>.w_zi{
      width: 500px;
      height: 112px;
      /* border: 1px solid #000; */
      float: left;
      margin-left: 10px;
  }
  .article>ul>.tu_zi>.w_zi>a{
      font-size: 16px;
      line-height: 30px;
      display: block;
      height: 60px;
      color: #000;
  }
  .article>ul>.tu_zi>.w_zi>a:hover{
      color: #FFB31A
  }
  .article>ul>.tu_zi>.w_zi>p{
      margin-top: 25px;
      font-size: 13px;
      line-height: 13px;
  }
  .article>ul>.tu_zi>.w_zi>p>span{
      margin-right: 55px;
  }
  .article>ul>.tu_zi>.w_zi>p>a{
      color: #000;
  }
  .article>ul>.tu_zi>.w_zi>p>a:hover{
      color: #FFB31A
  }
  .article>ul>.li_d{
      width: 690px;
      height: 100px;
      /* border: 1px solid red; */
  }
  .article>ul>.li_d>li{
      float: left;
      width: 320px;
      height: 20px;
      overflow: hidden;
      font-size: 16px;
      line-height: 16px;
      margin: 10px 25px 0 0; 
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .article>ul>.li_d>li>a{
      font-size: 13px;
      color: #000;
  }
  .article>ul>.li_d>li>a:hover{
      color: #FFB31A
  }
  .article>.vio{
      width:280px;height: 200px;
      /* border: 1px solid red; */
      float: right;
      position: relative;
      top: -212px;
  }
  .article>.vio>video{
      width:280px;height: 200px;
  }
  /* 大家的作品 */
  .zp{
      width: 100%;
  }
  .zp>.zp1{
      width: 1000px;
      margin: auto;
      /* background: #ff0; */
  }
  .zp>.zp1>h2{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .zp>.zp1>ul>li{
    width: 1000px;height: 110px;
    margin-bottom: 30px;
    /* border: 1px solid red; */
  }
  .zp>.zp1>ul>li>.tp1{
      width: 318px;height: 110px;
      /* background: pink; */
      /* float: left; */
  }
  .zp>.zp1>ul>li>.tp2{
    width: 660px;height: 110px;
    /* background: pink; */
    position: relative;
    left: 340px;top: -110px;
    
  }
  .zp .tp1>a:first-child>img{
      width: 110px;height: 110px;
      border-radius: 10px;
  }
  .zp .tp1>a:last-child{
    float: right;
    width: 202px;
    height: 110px;
    margin-left: 6px;
    font-size: 13px;
    color: #333;
    /* padding-top: 26px; */
  }
  .zp .tp1>a:last-child:hover{
      color: #FFB31A
  }
  .zp .tp1>a:last-child>p{
      margin-top: 25px;
  }
  .zp .tp2>a>img{
      width: 110px;height: 110px;
      margin-left: 18px;
      border-radius: 10px;
  }